p {
    text-align: center;
    font-size: 20px;
    margin: 4px;
    font-family: "宋体";
    font-weight: bold;
}

img {
    height: 400px;
    width: 400px;
    margin: 20px;
}

div {
    height: 440px;
    width: 1330px;
    margin: auto;
}