body {
    margin: 0px;
    background: url(../../images/background2.png) fixed center;
    background-size: cover;
    min-width: 650px;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 0.5px;
    background-color: #444444;
}

img{
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 700px;
    max-width: 100%;
}

p {
    font-size: 19px;
    margin: 0px;
    word-wrap: break-word;
    word-break: break-all;
    overflow:auto;
    font-family: 'Times New Roman', Times, serif;
    color:#FFFFFF;
}

a {
    font-size: 19px;
    margin: 0px;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
    overflow:auto;
    color:  rgba(0, 119, 255, 1);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    margin: 0px;
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
}

h2 {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: bold;
    color: #FFFFFF;
}

h3 {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: normal;
}

button {
    background-color: #000000a6;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 0px 2px 8px #222222;
    margin: 4px;
}

.button-none {
    background-color: #ffffff00;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    box-shadow: 0px 0px 0px #00000000;
}

.button-search {
    width:70px;
    height:100%;
    background-color: #000000a6;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 0px;
    float: right
}