.b-block {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 5px 20px #808080;
}

.b-card {
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: rgba(255, 255, 255,0.7);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px #a6a6a6;
}

.b-navbar {
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
    background-position-x: 0px;
    position: fixed;
    top: 0px;
    z-index: 1;
    box-shadow: 0px 0px 8px #a6a6a6;
}

.b-floatcard-show {
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: rgba(255, 255, 255,0.7);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px #a6a6a6;
    z-index:99;
    display:block;
}

.b-floatcard-hide {
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: rgba(255, 255, 255,0.7);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px #a6a6a6;
    z-index: 99;
    display:none;
}