.t-bold {
    font-weight: bold;
    color:#FFFFFF;
}

.t-author {
    margin-top: 2px;
    float: right;
    color: #BBBBBB;
    font-size: 17px;
}

.t-footer {
    font-weight: bold;
    font-size: 17px;
}

.t-navbartitle {
    font-family: sans-serif;
    float: left;
    margin-top: 11px;
    font-size: 20px;
    color: #FFFFFF;
    width: 170px;
    text-align: center;
}

.t-navbarlink {
    font-family: sans-serif;
    font-size: 17px;
    float: left;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
    margin-left: 15px;
    transition: 0.3s linear;
}

.t-navbarlink:hover {
    color: #FFFFFF;
    transition: 0.3s linear;
}

.t-small {
    font-size: 17px;
}

.t-layout {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: bold;
    color: #FFFFFF;
}