:root {
    --scrollbar-thumb-color: #535353;
    --scrollbar-track-color: #EDEDED;
    --block-background-color: rgba(255, 255, 255, 0.7);
    --block-shadow-color: #A6A6A6;
    --line-color: #BBBBBB;
    --font-color: #000000;
    --font-notice-color: #e58900;
    --link-color: rgba(0, 119, 255, 1);
    --font-gray-color: #BBBBBB;
    --navbar-link-color: rgba(0, 0, 0, 0.5);
    --navbar-link-hover-color: #000000;
    /*For notice blocks*/
    --notice-color-info: #00AEEC;
    --notice-block-color-info: #DFF6FD;
    --notice-color-error: #F85A54;
    --notice-block-color-error: #FEECEA;
    --notice-color-complete: #2AC864;
    --notice-block-color-complete: #E4F8EA;
    --notice-color-warn: #FFB027;
    --notice-block-color-warn: #FFF6E4;
    /*End of new part*/
    --none-color: #00000000;
    --background-url: url(../images/background1.png);
}
