.background-block {
    height: 100%;
    background: #d4feff59;
    position: fixed;
    z-index: -114514;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px #000000;
}
