.footbeta {
    background: repeating-linear-gradient(135deg,#e6a23c,#e6a23c 20px,#000 20px,#000 40px);
    padding: 6px 0 !important;
}
.footbeta-maintext {
    color: #FFFFFF;
    font-size: 20px;
    float: left;
    margin: 0 auto;
}

.footbeta-text {
    float: right;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0 auto;
}
