.navbar-block {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: #2780E3;
	height: 50px;
    width: 100%;
	box-shadow: 0px 0px 5px #000000;
}

.navbar-maintext {
	color: #FFFFFF;
	font-size: 20px;
	margin: 11px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
	text-shadow: 0px 0px 5px #000000;
}

.navbar-text {
	float: right;
	margin: 14px;
	margin-left: 5px;
	margin-right: 20px;
	color: #FFFFFF;
	font-size: 16px;
}

.navbar-linkl {
	float: left;
	margin: 14px;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	transition: 0.3s linear;
}

.navbar-linkl:hover {
	color: #FFFFFF;
	transition: 0.3s linear;
}

.navbar-linkr {
	float: right;
	margin: 14px;
	margin-left: 5px;
	margin-right: 20px;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	transition: 0.3s linear;
}

.navbar-linkr:hover {
	color: #FFFFFF;
	transition: 0.3s linear;
}