p {
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
    word-wrap: break-word;
    word-break: break-all;
    overflow:auto;
}

.text-common {
    color: #000000;
    margin-left: 10%;
    margin-right: 10%;
}

.text-nomargin {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
}

.text-locate {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.text-updtime {
    margin-left: 10%;
    margin-right: 10%;
    margin-top:0;
    color: #707070;
}

.text-title1 {
    font-size: 30px;
    font-weight: bold;
}

.text-title2 {
    font-size: 23px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #2780E3;
}

*::selection {
    background-color: rgba(124, 185, 255, 0.5);
}

*::-moz-selection {
    background-color: rgba(124, 185, 255, 0.5);
}
 
*::-webkit-selection {
    background-color: rgba(124, 185, 255, 0.5);
}