.t-bold {
    font-weight: bold;
}

.t-author {
    margin-top: 2px;
    float: right;
    color: var(--font-gray-color);
    font-size: 17px;
}

.t-info {
    margin-top: 2px;
    color: var(--font-gray-color);
    font-size: 17px;
}

.t-footer {
    font-weight: bold;
    font-size: 17px;
}

.t-navbartitle {
    font-family: sans-serif;
    float: left;
    margin-top: 11px;
    font-size: 20px;
    width: 120px;
    text-align: center;
}

.t-navbarlink {
    font-family: sans-serif;
    font-size: 17px;
    float: left;
    text-decoration: none;
    color:var(--navbar-link-color);
    margin-top: 14px;
    margin-left: 15px;
    transition: 0.3s linear;
}

.t-navbarlink:hover {
    color: var(--navbar-link-hover-color);
    transition: 0.3s linear;
}

.t-small {
    font-size: 17px;
}

.t-layout {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: bold;
}

.t-notice-warn {
    color: var(--notice-color-font-warn);
}

.t-notice-error {
    color: var(--notice-color-font-error);
}

.t-notice-success {
    color: var(--notice-color-font-success);
}

.t-notice-info {
    color: var(--notice-color-font-info);
}